<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">For Unreal Engine developers, by Unreal Engine developers!</h2>
                <hr class="light">
                <p class="text-faded">Join us in exploring Unreal Engine 4 and related technologies, including Virtual Reality, Indie Games, Mobile Games, and more! No prior programming experience needed. All disciplines are welcome, including designers, artists, and programmers. You must come with a willingness to learn and experiment, and the desire to create something amazing!</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
