<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Join the Community</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <a href="https://discord.gg/knMx2Fe" class="service-box">
                    <i class="fa fa-4x fa-discord wow bounceIn text-primary"></i>
                    <h3>Chat</h3>
                    <p class="text-muted">Hop onto our Discord server and give a friendly welcome.</p>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <a href="http://www.meetup.com/Phoenix-Unreal-Engine-Developers/" class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Meet</h3>
                    <p class="text-muted">Keep up to date with the current meetings and locations with Meetup.</p>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <a href="https://www.youtube.com/c/UnrealPhxMedia" class="service-box">
                    <i class="fa fa-4x fa-youtube wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Watch</h3>
                    <p class="text-muted">View presentations and tutorials on YouTube.</p>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <a href="https://github.com/UnrealPhx" class="service-box">
                    <i class="fa fa-4x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Code</h3>
                    <p class="text-muted">Find projects and resources on GitHub.</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 text-center">
                <a href="https://twitter.com/UnrealPhx" class="service-box">
                    <i class="fa fa-4x fa-twitter wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Follow</h3>
                    <p class="text-muted">Follow us for everything Unreal in Phoenix!</p>
                </a>
            </div>
        </div>
    </div>
</section>
