<section id="meeting" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Gang's All Here</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
              <h3 id="meetup-title"></h3>
              <p><span id="meetup-date" class="text-primary"></span><br/><span id="meetup-venue" class="text-faded"></span></p>
              <p id="meetup-details" class="text-faded"></p>
              <a id="meetup-link" href="">
                  <i class="fa fa-3x fa-calendar wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h2 class="text-primary">RSVP</h2>
              </a>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="embed-responsive embed-responsive-16by9 maps wow bounceIn">
                    <iframe id="meetup-map" class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfFdwX-nhamAMGQX7YHJHe2Rpu6A4OGcw&q=Phoenix+AZ">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
